*{
	margin:0px;padding:0px;font-size:16px;
}
a{
	text-decoration:none;cursor:pointer;
	color:black;
}
p{
	margin-bottom:3px;
}
.divl{
	float:left;width:20%;height:600px;
	border-right:3px solid #000;
	overflow:hidden;
}
.divr{
	float:left;width:79%;height:600px;
}
.titlep{
	width:100%;height:35px;
	text-align:center;font-weight:bold;
	line-height:30px;background:#fff;
	cursor:pointer;
}
.listul{
	width:100%;display:none;
	list-style:none;
}
.listli{
	width:100%;height:25px;line-height:25px;
	cursor:pointer;margin-bottom:3px;
}
.listdt:hover{
	background-color:gold;
}
#fr{
	width:96%;margin-left:2%;
}
.mlk{
	width:15em;height:30px;border:1px solid black;
	text-align:center;line-height:30px;
	outline:none;font-size:16px;
	background:none;
}
.del{
	width:7em;height:30px;
	margin-right:2em;font-size:14px;
	text-align:center;
}
.sub{
	width:4em;height:30px;font-size:14px;
	line-height:30px;text-align:center;
}
#editor{
	width:100%;height:400px;
	outline:none;
}
#mlfr{
	margin-left:2%;
}
.listp{
	width:100%;height:35px;line-height:35px;
	cursor:pointer;
	background:purple;
}
.vml{
	width:15em;height:30px;
	text-align:center;line-height:30px;
	outline:none;font-size:16px;
}
.vsub{
	margin-left:7em;
	width:6em;height:30px;font-size:14px;
	line-height:30px;text-align:center;
}
