<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 自己写的css -->
	
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="__PUBLIC__/jq/jquery-3.1.1.min.js"></script>
    <!-- bootstrap的引用 -->
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/yeMiancss/kaiFang1.css">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
	<div style="height:100%; width:100%; min-width: 1050px;">
		<!-- 搜索 -->
		<div class="shangcesousuo">
			<!-- 病名搜索 -->
			<div class="bingmingsousuo">
				<div class="input-group ">
					<input id="bmtjchaxun" type="text"  class="form-control" placeholder="请输入病名" />
					<span class="input-group-btn">
					<button type="submit" class="btn btn-info btn-search">
					<b style="color: #000000;">查找</b>
					</button>
					</span>
				</div>
			</div>
			<!-- 整形搜索 -->
			<div class="zhengxingsousuo">
				<div class="input-group ">
					<input type="text"  class="form-control"placeholder="请输入证型名" />
					<span class="input-group-btn">
					<button class="btn btn-info btn-search">
					<b style="color: #000000;">查找</b>
					</button>
					</span>
				</div>
			</div>
			<!-- 按钮 -->
			<div class="anniuchufanghebing">
				<input type="checkbox" id="chuFangHeBing">
				<label for="chuFangHeBing">处方合并</label>&nbsp;&nbsp;
			</div>
			<div class="anniuchuxuandingcifang" >
				<a href="{:U('Kaifang/zyhome')}"><button class="btn btn-success" style="width: 80px;"><b style="color: #000000;">选定此方</b></button></a>
			</div>
			<div class="qingchusoufudong">
			</div>
		</div>
		<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="kaishangzuo">
			<table id="tjbmjieguo" class="table table-condensed" >
			<tr height="20">
				<th class="trdebingming">
					病名
				</th>
			</tr>
			<volist name="data" id="vo">
				<tr class="sty1" name="tableSty"><td>{$vo.name}<input type="hidden" value="{$vo.code}"></td></tr>
			</volist>
			</table>
		</div>
		<!-- 右侧处方 -->
		<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="ka1youcechufang">
			<table id="youcezhengxing" class="table ">
			<tr>
				<th style=" background-color:#ffee99; text-align:center; ">
					选择
				</th>
				<th style="background-color:#FFEE99; text-align:center; ">
					证型
				</th>
				<th style="background-color:#FFEE99; text-align:center;">
					治法
				</th>
				<th style="background-color:#FFEE99; text-align:center; ">
					处方名称
				</th>
			</tr>
			<tr onclick="changeTrColor(this)">
				<td style="text-align: center;">
					<input type="checkbox" name="aa" value="jlk">
				</td>
				<td>
					实喘-表寒肺热证
				</td>
				<td>
					化痰平喘
				</td>
				<td>
					麻杏石甘汤
				</td>
			</tr>
			</table>
		</div>
		<div class="qingchuchufangfudong">
		</div>
		<!-- 中间汉字 -->
		<div class="zhongjianhanzi">
			<img src="__PUBLIC__/img/iconpng.png" class="zhongjianhanziimg" alt="图片加载中。。。。">
			<span class="zhongjianhanzichu">
			<b>处方信息</b>
			</span>
			<span class="zhongjianhanzizhu ">
			<b>注：双击药品名称。显示药解信息！</b>
			</span>
		</div>
		<!-- 下侧处方 -->
		<div class="ka1xXiaceChufang">
			<table>
			<div class="ka1xXiacehanzi">
				<strong>方剂名称:<尽量快圣诞节（爱思）></strong>
			</div>
			<div style="width: 700px;">
				<div style=" float:left; margin:5px; border-radius:5px; width:150px; height:100px; border: 1px #000000 solid;">
					<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">
						1
					</div>
					<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">
						后下
					</div>
					<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0; position:relative; left: 10px; top: -5px; font-size:20px; ">
						前胡
					</div>
					<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">
						9.00克
					</div>
				</div>
			</div>
			</table>
		</div>

	</div>
	<!-- 点击换色的js -->
	<script type="text/javascript">
		// 左侧处方名点击变色
		$(document).on("click",".sty1",function(){
			// 点击变色
		    var tsty1=document.getElementsByName("tableSty");
		    // alert(tsty1.length);
		    for(var i=0;i<tsty1.length;i++){
		        tsty1[i].className="sty1";
		    }
		    $(this).attr("class","sty2");
		    var tjzuobingm =$(this).children('td').children('input').val();
		    //ajax改变右侧值
		    $.ajax({
			 	type:'POST',
	            url:"{:U('Kaifang/ajaxgaibiyouzhi')}",
	            data:{"tjzuobingm":tjzuobingm},
	            dataType:'json',
	            success:function(dd)
	            {
	            	// alert(dd);
	            	// console(dd);
	            	str = '<tr height="40"><th style="background-color:#fe9;text-align:center">选择</th><th style="background-color:#FE9;text-align:center">证型</th><th style="background-color:#FE9;text-align:center">治法</th><th style="background-color:#FE9;text-align:center">处方名称</th></tr>';
	            	$.each(dd,function(idx,item){

	            		str += '<tr onclick="changeTrColor(this)"><td style="text-align:center"><input type="checkbox" name="aa" value="jlk"></td><td>'+item.zx+'</td><td>'+item.zf+'</td><td>'+item.cf_name+'</td></tr>';
	                });
	                $("#youcezhengxing").html(str);
	            },
	            error:function(){
	            	alert("链接ajax失败");
	            }
			 });
		});
		// 右侧处方名点击变色
		function changeTrColor(obj) {
			// alert(56); 
			var _table = obj.parentNode;
			for (var i = 0; i < _table.rows.length; i++) {
				_table.rows[i].style.backgroundColor = "";
			}
			obj.style.backgroundColor = "#3399FF";
		}
	</script>
	<!-- 按病名查找 -->
	<script type="text/javascript">
		$(document).on("input","#bmtjchaxun",function(){
			var tjbm = $(this).val();
			// alert(tjbm);
			 $.ajax({
			 	type:'POST',
	            url:"{:U('Kaifang/ajaxtjbm')}",
	            data:{tjbm:tjbm},
	            dataType:'json',
	            success:function(dd)
	            {
	            	// alert(dd);
	            	// console.log(dd);
	            	var str='<tr height="40"><th class="trdebingming">病名</th></tr>';
	            	$.each(dd,function(idx,item){
	                //输出
	                // alert(item.name);
	              		str += '<tr class="sty1" name="tableSty"><td >'+item.name+'<input type="hidden" value="'+item.code+'">'+'</td></tr>';
	                });
	            	$("#tjbmjieguo").html(str);
	            },
	            error:function(){
	            	alert("链接ajax失败");
	            }
			 });
		});
	</script>
</body>
</html>