<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收费综合查询_中医健康管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/muban/assets/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/muban/assets/css/easyui.css">
	<link rel="stylesheet" href="__PUBLIC__/muban/assets/css/chaxun.css">
	<script type="text/javascript" src="__PUBLIC__/muban/assets/jedate/jedate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/muban/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.easyui.min.js"></script>
</head>
<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
	<form action="{:U('Chaxun/sfzonghe')}" method="post">
		<div class="tool">
			<input type="button" id="jstijiaoform" name="query" value="✔ 查询">
			<input type="button" name="print" value="℗ 打印">
			<p id="demo"></p>
		</div>
		<div class="sfzh_top">
			<img src="__PUBLIC__/muban/assets/img/chaxun.png" width="30" height="30">
			<div class="h">查询条件:</div>
		</div>
		<div class="cxtj">
			<table>
				<tr>
					<td width="40%">
						<span>日期范围:</span>
						<input type="text" name="p_datekai" class="ghrq" id="datebut1" onClick="jeDate({dateCell:'#datebut1',isTime:true,format:'YYYY-MM-DD'})" readonly="readonly"> <b>至</b>
						<input type="text" name="p_datezhong" class="ghrq" id="datebut2" onClick="jeDate({dateCell:'#datebut2',isTime:true,format:'YYYY-MM-DD'})" onfocus="new Calendar().show(this)" readonly="readonly">
					</td>
					<td width="20%">
						<span>操&nbsp;&nbsp;作&nbsp;员:</span>
						<select name="operator_code">
							<option value="">全部</option>
							<volist name="data" id="vo">
							<option  value="{$vo.username}">{$vo.username}</option>
							</volist>
						</select>
					</td>
					<td width="25%">
						<span>发票号:</span>
						<input type="text" name="invoice_no" value="{$chaxuntiaojian.invoice_no}">
					</td>
					<td width="15%"></td>
				</tr>
				<tr height="10"></tr>
				<tr>
					<td>
						<span>病人姓名:</span>
						<input type="text" name="br_name" value="">
					</td>
					<td>
						<span>收费类型:</span>
						<select name="bill_status">
							<option value="">全部</option>
							<option value="1">收费</option>
							<option value="2">退费</option>
						</select>
					</td>
					<td>
						<span>病历号:</span>
						<input type="text" name="clinic_num" value="">
					</td>
					<td>
						<span class="checkbox pull-left"><label><input type="checkbox" name="sf_bfghf" value="yes">不含挂号费</label></span>
					</td>
				</tr>
			</table>
		</div>
	</form>
	<div class="sfzh_center">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>操作日期</th>
					<th>发票号</th>
					<th>病历号</th>
					<th>病人姓名</th>
					<th>收费项目</th>
					<th>单价</th>
					<th>数量</th>
					<th>金额</th>
					<th>操作员</th>
					<th>退费日期</th>
				</tr>
			</thead>
			<tbody>
				<volist name="dodata" id="dovo">
				<tr>
					<td>{$dovo.charge_date}</td>
					<td>{$dovo.invoice_no}</td>
					<td>{$dovo.clinic_num}</td>
					<td>{$dovo.br_name}</td>
					<td>{$dovo.item_code}</td>
					<td>{$dovo.unit_price}</td>
					<td>{$dovo.amount}</td>
					<td>{$dovo.total}</td>
					<td>{$dovo.operator_code}</td>
					<td>{$dovo.return_date}</td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
    	jeDate.skin('gray');
	</script>
	<!-- js提交form表单 -->
	<script type="text/javascript">
		$("#jstijiaoform").click(function(){
			$("form").submit();
		});
	</script>
	<script src="__PUBLIC__/js/shijian.js"></script>
</body>
</html>