<h2>用户id是：<b>
	<php>echo $_SESSION['wh_userId'];</php>
</b></h2><h2>所属机构编码是：<b>
	<php>echo $_SESSION['wh_code'];</php>
</b></h2><h2>职位是：<b>
	<php>echo $zhiwei;</php>
</b></h2>
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="__ROOT__/uploadify/uploadify.css">
</head>
<body>
	<!---->
<php>$day = date('ymd');</php>
    <img id="img" src="<?php echo '__ROOT__/Uploads/'.'20'.$day.'/'.$_SESSION['photo']; ?>" width="130" height="130" border="0" />
    <input id="file_upload" name="file_upload" type="file" multiple="true" value="" />

    

	<!---->
</body>
<script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.js"></script>
<js file='__ROOT__/uploadify/jquery.uploadify.min.js'/>
<script type="text/javascript">
//上传插件
$(function() {
    $('#file_upload').uploadify({
        'swf'      : '__ROOT__/uploadify/uploadify.swf',
        'uploader' : '{:U("News/uploadify")}',
        'buttonText' : '点击上传',
        'onUploadSuccess' : function(file, data, response) {
            $('#img').attr('src','__ROOT__/Uploads/'+ data);
            $('#images').val(data);
        },
    });
});
</script>

</html>