/*划价收费*/
.tool{ 
	width:90%; 
	height:50px;
	margin-left:5%;
	margin-top:2%;
	text-align:right;
}
.tool input[name="sc"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#C63300;
}
.tool input[name="sf"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#227700;
}
.tool input[name="tf"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#AA7700;
}
.top{ 
	width:90%;
	height:55px;
	margin-left:5%;
	color:#000;
	font-size:16px;
	padding:1.5% 1%;
	letter-spacing:2px;
	background-image:url('../img/ID.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.top span{margin-left:6%;}
.center{
	width:90%;
	height:380px;
	margin-top:1%;
	margin-left:5%;
	font-size:14px;
	color:#000;
}
.center_t{ 
	width:100%;
	height:120px; 
}
.tab1{ 
	width:100%; 
	height:40px;
}
.tab1 tr .tab1_l{ 
	color:#DDAA00; 
	font-weight:bold; 
	font-size:16px;
}
.tab1_r{ 
	text-align:right; 
	font-weight:bold;
}
.tab1 tr td{ width:50%;}
.tab2{ 
	width:100%; 
	height:80px; 
	text-align:center; 
}
.tab2 th{
	text-align:center; 
	height:40px; 
	border:1px solid #333;
}
.tab2 tr td{ 
	border:1px solid #333; 
	text-align:right;
}
.tab2 tr td input{ 
	color:#000; 
	width:300px;
	height:30px;
	font-size:16px;
}
.tab2 tr td input[name='number'], .tab2 input[name='danjia'], .tab2 input[name='jine'], .tab2 input[name='guige'], .tab2 input[name='danwei']{
	width:135px;
	height:40px;
	border:none;
	text-align:right;
	font-size:16px;
	outline:none;
}
.tab2 input[name='guige'], .tab2 input[name='danwei']{
	text-align:center;
	outline:none;
}
.tab3{ 
	width:99.8%; 
	height:40px;
}
.tab3 tr .tab3_l{ 
	color:#DDAA00; 
	font-weight:bold;
}
.table4{ 
	width:100%; 
	height:220px; 
	border:1px solid #333;
	overflow:scroll;
}
.tab4{ 
	width:99.8%; 
	height:40px; 
	text-align:center; 
	border:1px solid #333; 
}
.tab4 th{
	text-align:center; 
	height:40px; 
	border:1px solid #333; 
	background-color:#FFEE99;
}
.tab4 tr td{ 
	border:1px solid #ddd; 
	height:40px; 
	text-align:right;
}
.tab4 .left{text-align:left;}
.center_c{ 
	width:100%; 
	height:260px;
	margin-top:1%;
}
<<<<<<< HEAD
=======
/*模态框*/
#myModal{
	width:100%;
	height:100%;
	font-size:16px;
}
.modal-dialog{
	width:100%;
	height:90%;
}
.modal-content{
	width:90%;
	height:100%;
	margin-left:5%;
	background-color:#F5F5DC;
}
.modal-img{
	width:20px;
	height:20px;
}
.body-img{
	width:30px;
	height:30px;
}
.modal-title{
	font-weight:bold;
}
.modal-body{
	width:100%;
	height:73%;
}
.modal-body-left{
	float:left;
	width:50%;
	height:100%;
	border-right:2px solid #333;
}
.modal-body-left-top{
	border-bottom:1px solid #333;
}
.modal-body-left-con{
	float:left;
	margin-top:2%;
}
.modal-body-left-con table{
	width:100%;
}
.modal-body-right{
	float:left;
	width:50%;
	height:100%;
}
.modal-body-right-con{
	margin-top:-2%;
}
.tit{
	color:#B8860B;
}
input[name="query"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#227700;
}
input[name="tf"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#AA7700;
}
input[name="exit"]{
	width:80px;
	height:30px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:#C63300;
}
>>>>>>> 2c33002989b94e03d184eb00c0203b568881180a
